data/warcs/
data/carrefour/
*/*.db*
sqlite.db
db.db
db.db-wal
downloader/
node_modules/
*/node_modules/
Containerfile
*/Containerfile
Dockerfile
*/Dockerfile
*.warc.zst
.git
scraper/debug/
*/target/
scraper-rs/target/
*.db*
