name: Sepa Precios Archiver

on:
  schedule:
    - cron: "0 */3 * * *" # Run every 3 hours
  workflow_dispatch: # Allow manual trigger

jobs:
  archive-prices:
    # runs-on: ubicloud-standard-4
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      #   with:
      #     limit-access-to-actor: true

      - name: Run archiver script
        env:
          GITHUB_TOKEN: ${{ secrets.ARCHIVE_GITHUB_TOKEN }}
          B2_BUCKET_NAME: ${{ secrets.B2_BUCKET_NAME }}
          B2_BUCKET_KEY_ID: ${{ secrets.B2_BUCKET_KEY_ID }}
          B2_BUCKET_KEY: ${{ secrets.B2_BUCKET_KEY }}
        run: |
          cd sepa
          bun install --frozen-lockfile
          bun archiver.ts
